* {
  text-decoration: none !important;
}
nav {
  opacity: 0.8 !important;
  border-radius: 0 0 30px 30px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #fff;
}
.jumbotron img:hover {
  cursor: pointer;
}

#tentang {
  background-color: #00cba9;
}
section {
  padding-top: 5rem;
}

#kontak {
  background-color: #fff;
}
.galery-img {
  width: 100%;
}
#projects img {
  cursor: pointer;
}
#projects img:hover {
  opacity: 0.8;
}
#projects p a:hover {
  opacity: 0.5;
  cursor: pointer;
}

#galery {
  background-color: #00cba9;
}
#galery img {
  margin-bottom: 25px;
}
#galery img:hover {
  opacity: 0.5;
  transition: all 0.5s;
}
