.jumbotron {
  padding-top: 6rem;

  background-color: #fff;
}

#tentang {
  background-color: #00cba9;
}
#tentang p a {
  text-decoration: none;
}
section {
  padding-top: 5rem;
}

#kontak {
  background-color: #fff;
}
.galery-img {
  width: 100%;
}

#galery {
  background-color: #00cba9;
}
